In [18]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

## Exercise 2)

In [19]:
data_2020 = pd.read_csv("../data/it_salary_2020.csv", delimiter=";")
data_2020.dropna(how="any",axis=0,inplace=True)
data_2018 = pd.read_csv("../data/it_salary_2018.csv", delimiter=";")
data_2018.dropna(how="any",axis=0, inplace=True)

In [20]:
def compare_shape(data1, data2): #helper functions for printing
    skew1 = data1.skew()
    skew2 = data2.skew()
    kurt1 = data1.kurtosis()
    kurt2 =data2.kurtosis()
    print(f"data1 has skew {skew1} and kurtosis {kurt1},while data2 has skew {skew2} and kurtosis {kurt2}")
    return (skew1,kurt1,skew2,kurt2)

def compare_spread(data1, data2):
    var1 = data1.var()
    var2 = data2.var()
    dev1 = np.sqrt(var1)
    dev2 = np.sqrt(var2)
    print(f"data1 has variance {var1} an standard devation {dev1}, while data2 has variance {var2} and standard deviation {dev2}")
    return (var1,dev1,var2,dev2)

## Exercise 2a)

In [21]:
#first compare yearly brutto salary
compare_shape(data_2018["Yearly brutto salary (without bonus and stocks) in EUR"],data_2020["Yearly brutto salary (without bonus and stocks) in EUR"])

data1 has skew 1.0877096881695731 and kurtosis 3.0106434446622266,while data2 has skew 1.1354163430442203 and kurtosis 4.4347052730605485

(1.0877096881695731,
 3.0106434446622266,
 1.1354163430442203,
 4.4347052730605485)

We can see that the brutto salary gets more heavily skewed to the left from 2018 to 2020. Furthermore, the distribution gets more Leptokurtic (value increases). This could indicate that we have a decrease in outliers of yearly salaries.

In [22]:
#compare years of work experience
compare_shape(data_2018["Total years of experience"], data_2020["Total years of experience"])

data1 has skew 4.27850774748754 and kurtosis 38.4721857635929,while data2 has skew 0.8261068035675968 and kurtosis 0.7506037596198332

(4.27850774748754, 38.4721857635929, 0.8261068035675968, 0.7506037596198332)

We can see a big drop in skewness and curtosis, this could be due to outliers being present in the 2018 dataset.

## Exercise 2b)

In [23]:
compare_spread(data_2018["Yearly brutto salary (without bonus and stocks) in EUR"],data_2020["Yearly brutto salary (without bonus and stocks) in EUR"])

data1 has variance 459856894.15871936 an standard devation 21444.27415788931, while data2 has variance 566803505.259781 and standard deviation 23807.635440332604

(459856894.15871936, 21444.27415788931, 566803505.259781, 23807.635440332604)

We can see that the standard deviation and variance have increased from 2018 to 2020 for the salary, which shows that the data is further away from the mean

In [24]:
compare_spread(data_2018["Total years of experience"], data_2020["Total years of experience"])

data1 has variance 36.79584764838289 an standard devation 6.065958098139394, while data2 has variance 34.11392716535433 and standard deviation 5.840712898726861

(36.79584764838289, 6.065958098139394, 34.11392716535433, 5.840712898726861)

The opposite is the case for the total years of experience, here the data is more close to the mean.

## Exercise 2c)

In [26]:
data_2018["Total years of experience"].cov(data_2018["Yearly brutto salary (without bonus and stocks) in EUR"]) #covariance 2018

22437.61920980926

In [27]:
data_2020["Total years of experience"].cov(data_2020["Yearly brutto salary (without bonus and stocks) in EUR"])#covariance 2020

18573.810162401576

We can see that the covariance is still positive, unfortunately the change in value doesnt tell us much with this statistic.

In [28]:
data_corr_2018 = data_2018[["Total years of experience", "Yearly brutto salary (without bonus and stocks) in EUR"]]
data_corr_2018.corr(method="pearson")

,Total years of experience,Yearly brutto salary (without bonus and stocks) in EUR
Total years of experience,1.000000,0.172491
Yearly brutto salary (without bonus and stocks) in EUR,0.172491,1.000000

In [29]:
data_corr_2020 = data_2020[["Total years of experience", "Yearly brutto salary (without bonus and stocks) in EUR"]]
data_corr_2020.corr(method="pearson")

,Total years of experience,Yearly brutto salary (without bonus and stocks) in EUR
Total years of experience,1.000000,0.133573
Yearly brutto salary (without bonus and stocks) in EUR,0.133573,1.000000

We can see a decrease in correlation between years of experience and yearly salary. This could mean that time spent in the industry is worse at predicting salary for an it employee in 2020 than in 2018.